@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    transition: $linear;
}

html {
    scroll-behavior: smooth;
}

:root {
    font-size: 18px;
    color: $default-color;
    background-color: $bg-primary;
}

button, input {
    border: 0;
    background: none;
}

button {
    padding: .5rem 2.5rem;
    border-radius: .5rem;
    cursor: pointer;


    border: 2px solid $extra-primary;
    color: $extra-primary;

    &:hover {
        background-color: $extra-primary;
        color: $bg-secondary;
    }

    &.dark {
        background-color: $extra-primary;
        color: $bg-secondary;
    
        &:hover {
            background-color: $bg-secondary;
            color: $extra-primary;
        }
    }
}

input {
    padding: .5rem 1rem;
    border-radius: 5rem;
    border: 2px solid $extra-primary;
    min-width: 200px;
}

select {
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: 2px solid $extra-primary;

    &.dark {
        background-color: $extra-primary;
        color: $bg-secondary;
    }
}