@import '../../../partternStyles/style.scss';

body {
    flex-direction: column;
    justify-content: center;

    padding: 2rem;

    text-align: center;
}

a {
    color: $extra-secondary;
}

.logo {
    width: 100%;
    max-width: 600px;
}