@import '../../../../patternStyles/style.scss';
@import '../../../../patternStyles/components/dataTable/style';
@import '../../../../patternStyles/components/form/styles';

select {
    border-radius: 5rem;
}

#register {
    height: 3rem;
}

#loader {
    height: 3rem;
}