@import '../../../patternStyles/style.scss';
@import '../../../patternStyles/components/dataTable/style';

#main_content {
    .tableContainer_header {
        padding-bottom: 0;
    }

    .scrollVisible {
        @include flexBox($fd: column, $g: 3rem);
        overflow: hidden auto;
    }

    .container {
        @include flexBox($fd: column, $g: 1rem);
        padding: 0 1.5rem;

        .content {
            @include flexBox($j: space-between, $g: 1rem);

            .cards {
                @include flexBox($j: space-between, $g: 1rem, $fw: wrap);
                flex: 0 1 auto;
            }

            .dataCard {
                @include flexBox($fd: column, $a: center, $j: space-between, $g: 1rem);
                padding: .5rem 1.5rem;
                border: 2px solid $extra-secondary;
                border-radius: 1rem;
                box-shadow: $innerShadow;
                flex: 1 0 250px;
                max-width: 100%;
                width: 100%;

                .cardHeader {
                    text-align: center;
                    h4 {
                        font-family: 'PoppinsLight';
                    }
                }

                .cardbody {
                    color: $extra-primary;
                }

                .cardFooter {
                    width: 100%;
                    font-size: .8rem;
                }
            }
        }

        &.graphics {
            .content {
                @include flexBox($fd: column, $g: 5rem);
                flex-wrap: wrap;
            }
        }
    }
}

canvas {
    max-height: 500px;
    // object-fit: cover;
}

// #profit {
//     min-height: 400px;
//     min-width: fit-content;
// }