@import '../../../patternStyles/style.scss';

main {
  overflow-x: hidden;
  padding: 0 1rem;
  gap: 0;

  header {
    background-color: #F1F1F1;
    position: sticky;
    top: 0;
    padding: 1rem;

    &.analysisMode {
      padding: 1rem 0 1rem 0;
    }
  }

  .bDay {
    font-size: clamp(16px, 1.1vw, 36px);
    text-align: center;
    cursor: pointer;

    .bDayEmployees {
      img {
        margin-top: 5px;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }

      .bDayNames {
        z-index: 1;
        margin-left: -3rem; //verificar
        font-size: .8rem;
        text-align: center;
        position: absolute;
        padding: 20px;
        background-color: rgb(255, 255, 255);
        border: 3px solid #029AA4;
        border-radius: .5rem;
        display: none;
      }

      .bDayImgs:hover+.bDayNames {
        display: block;
      }
    }
  }

  .news {
    gap: 2rem;

    .newsContent {
      padding: 1rem;
      background-color: #ffffff;
      border-radius: 15px;
      margin-bottom: 1rem;

      h2 {
        font-size: clamp(20px, 2vw, 36px);
        text-decoration: 3px underline #029AA4;
        text-underline-offset: 10px;
        padding-bottom: 1rem;
        font-style: italic;
      }

      p {
        text-align: justify;
      }

      .newsImg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15rem;
        width: 40%;
      }

      img {
        object-fit: cover;
        border-radius: 15px;
      }
    }
  }

  @media (min-width: 780px) {
    .bDay {
      display: flex !important;
      align-items: center;
      padding: 0 1rem 0rem 1rem;

      img {
        margin-left: .5rem;
      }
    }

    .options {
      flex-grow: 0 !important;

      .option {
        justify-content: right !important;
        margin-right: 2rem;
        font-size: 1rem !important;
      }
    }

    .newsContent {
      gap: 2rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      .newsText {
        width: 60%;
        font-size: .8rem;

        p {
          text-align: left;
        }
      }

    }

  }

  @media (max-width: 1024px) {
    header {
      .pageName svg {
        width: 30px;
      }

      h1 {
        font-size: clamp(18px, 2vw, 36px);
      }

      p {
        font-size: clamp(12px, 2vw, 36px)
      }

    }

    .options {
      display: none !important;
    }

    .news {
      .newsContent {
        .newsImg {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
        }

        img {
          margin-top: 1rem;
        }
      }

    }
  }
}